@charset "UTF-8";
/* CSS Document */
/****** Global Styles ******/
html,
body {
  margin: 0px;
  background: url(../img/symphony.png) repeat;
  /* Background image from http://subtlepatterns.com/ */
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: dimgray;
}

#wrapper {
  margin-top: 150px;
}

/* Header Styles */

h1 {
  color: tomato;
}

h1.name {
  margin-bottom: 0px;
  border: 10px solid tomato;
  padding: 30px;
  display: inline;
}

h2 {
  color: salmon;
}
h2.title {
  margin-top: 40px;
  padding: 30px;
}

/* Contact styles */
.phone-number {
  color: darkseagreen;
}

a.email {
  color: darkseagreen;
  text-decoration: none;
}

.linebreak {
  border: 1px solid grey;
  margin: 30px auto;
  width: 50%;
}


/* Quote Styles */
.quote {
  font-style: italic;
  font-size: 20px;
  margin-top: 50px;
  line-height: 30px;
}
